In [3]:
import pandas as pd

In [19]:
df = pd.read_csv('ner.csv')
df = df.reset_index(drop=False)[['text']]
df

                                                    text
0      Thousands of demonstrators have marched throug...
1      Iranian officials say they expect to get acces...
2      Helicopter gunships Saturday pounded militant ...
3      They left after a tense hour-long standoff wit...
4      U.N. relief coordinator Jan Egeland said Sunda...
...                                                  ...
47954  Opposition leader Mir Hossein Mousavi has said...
47955  On Thursday , Iranian state media published a ...
47956  Following Iran 's disputed June 12 elections ,...
47957  Since then , authorities have held public tria...
47958  The United Nations is praising the use of mili...

[47959 rows x 1 columns]

In [22]:
df['text_id'] = df['text'].apply(hash).astype(str)
df['id'] = df.index
df = df[['id', 'text_id', 'text']]
df

,id,text_id,text
0,0,9108197940440611089,Thousands of demonstrators have marched throug...
1,1,5164076887785871116,Iranian officials say they expect to get acces...
2,2,2537450301048281436,Helicopter gunships Saturday pounded militant ...
3,3,-3579858237453424790,They left after a tense hour-long standoff wit...
4,4,2009798445960083967,U.N. relief coordinator Jan Egeland said Sunda...
...,...,...,...
47954,47954,8716043151199653781,Opposition leader Mir Hossein Mousavi has said...
47955,47955,-4015685906750674872,"On Thursday , Iranian state media published a ..."
47956,47956,-4280657559184086753,"Following Iran 's disputed June 12 elections ,..."
47957,47957,-8217928520425301963,"Since then , authorities have held public tria..."
47958,47958,-5529408605585605862,The United Nations is praising the use of mili...

In [24]:
import fullmetalalchemy as fa

In [25]:
engine = fa.create.create_engine('sqlite:///data.db')

In [28]:
text_table = fa.create.create_table_from_records(
    table_name='text',
    records=df.to_dict('records'),
    primary_key=['id'],
    engine=engine
)

In [30]:
entities

['id']