In [14]:
import sqlalchemy as sa
import fullmetalalchemy as fa
import pandas as pd

In [3]:
engine = sa.create_engine('sqlite:///data.db')
fa.features.get_table_names(engine)

['entities', 'found_entities', 'text']

In [4]:
entities = fa.features.get_table('entities', engine)
found_entities = fa.features.get_table('found_entities', engine)
text = fa.features.get_table('text', engine)

In [5]:
print('entities')
print(fa.features.get_column_names(entities))
print('found_entities')
print(fa.features.get_column_names(found_entities))

entities
['id', 'entity']
found_entities
['id', 'text_id', 'entity_id', 'label']

In [7]:
FoundEntities = fa.features.get_class('found_entities', engine)
Entities = fa.features.get_class('entities', engine)

In [21]:
stmt = sa.select(FoundEntities, Entities).join(Entities, FoundEntities.entity_id == Entities.id)
pd.read_sql(stmt, engine)

            id  text_id  entity_id     label  id_1              entity
0            1        0          1  CARDINAL     1           Thousands
1            2        0          2       GPE     2              London
2            3        0          3       GPE     3                Iraq
3            4        0          4      NORP     4             British
4            5        1          5      NORP     5             Iranian
...        ...      ...        ...       ...   ...                 ...
138778  138779    47956        422       GPE   422                Iran
138779  138780    47956       8563      DATE  8563             June 12
138780  138781    47956       1151  CARDINAL  1151            hundreds
138781  138782    47958       1223       ORG  1223  The United Nations
138782  138783    47958         22       GPE    22           Indonesia

[138783 rows x 6 columns]

In [ ]:
def join(
    left_table: sa.Table,
    right_table: sa.Table,
    on_left: str
    column_names: list[str] = None
) -> list[dict]:
    ...